<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intracranial Hemorrhage Detection with a Convolution Neural Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://code.jquery.com/jquery 2.1.4.min.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gupter">
</head>
<style>
body, html {
  height: 100%;
  font-family: "Gupter", sans-serif;
  background-color: #AFDBF5;
}
</style>
<body>
<form action="/handleUpload" method="post" enctype="multipart/form-data">
    <center>
    <h3>Select DCM file to predict intracranial hemorrhage type</h3>
    <input type="file" accept=".dcm" name="brainscan"><br>
    <input type="submit" value="Analyze">
    </center>
</form>
<br>
<br>

{% if max %}
   <div>
   <left>
    {% for meta in metadata %}
    <p><b>{{meta.name}}:</b>   {{meta.value}}</p>
    {% endfor %}
    </div>
    <div>
    <right>
      <h3>Raw Scan</h3>
      <img src={{url}}>
{% else %}
<center><h4> </h4>
{% endif %}
</body>
</html>